# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Project specific
data/
checkpoints/
predictions/
results/
visualizations/
*.log
tmp/
cache/
features/
preprocess/patches/

# Large files
*.npy
*.pth
*.tar.gz
